.idea/
.pnpm-store/
node_modules/
.next/
dist/
out/
build/
.pnp
.pnp.*/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
next-env.*
.env
.env.*
*.local
.turbo/
.vercel/
coverage/
tsconfig.tsbuildinfo
.eslintcache
*.DS_Store
*.pem
venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
